/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
html,
body {
  font-size: 16px;
  line-height: 1.5;
  color: #878385;
  font-family: "Mallanna", "PingFangSC-Regular", "Microsoft JhengHei", sans-serif; }

button {
  line-height: 1.5; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

:focus {
  outline: 0; }

img {
  max-width: 100%; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*------------------------  conponents  ------------------------*/
/* ==========================================================================
    All
 ========================================================================== */
.l-section {
  padding: 60px 0; }
  .l-section__heading {
    margin-bottom: 45px;
    text-align: center; }
  .l-section--notop {
    padding-top: 0; }
  @media screen and (max-width: 767px) {
    .l-section {
      padding: 45px 0; }
      .l-section__heading {
        margin-bottom: 30px; } }

.l-heading {
  display: inline-block; }
  .l-heading__title {
    line-height: 1em;
    text-transform: uppercase;
    font-size: 42px;
    color: #b1a3ba;
    font-family: "Cantata One", serif; }
  .l-heading__subtitle {
    text-transform: capitalize;
    text-align: right;
    font-size: 18px;
    color: #b1a3ba;
    font-family: "Cantata One", serif; }
  @media screen and (max-width: 767px) {
    .l-heading__title {
      font-size: 36px; }
    .l-heading__subtitle {
      font-size: 16px; } }

.l-intro__title {
  margin-bottom: 15px;
  font-size: 20px;
  color: #222; }

.l-intro__content {
  line-height: 2em; }

.l-banner {
  position: relative;
  width: 100%;
  padding-bottom: 54.9%;
  background-size: cover;
  background-position: 50%; }
  .l-banner__title {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%; }

.c-btn {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #d2ccd6;
  color: #fff; }
  .c-btn:hover {
    opacity: 0.8; }

.l-thumbVertical {
  display: block;
  width: 100%;
  padding-top: 140%;
  position: relative;
  overflow: hidden; }
  .l-thumbVertical img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 100%; }
  .l-thumbVertical--hover:hover img {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.1);
            transform: translateX(-50%) translateY(-50%) scale(1.1); }

.l-thumbHorizontal {
  display: block;
  width: 100%;
  padding-top: 66.66%;
  position: relative;
  overflow: hidden; }
  .l-thumbHorizontal img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 100%; }
  .l-thumbHorizontal--hover:hover img {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.1);
            transform: translateX(-50%) translateY(-50%) scale(1.1); }

.l-thumbSquare {
  display: block;
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden; }
  .l-thumbSquare img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
            transform: translateX(-50%) translateY(-50%) scale(1);
    transition: .3s transform;
    width: 100%; }
  .l-thumbSquare--hover:hover img {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.1);
            transform: translateX(-50%) translateY(-50%) scale(1.1); }

.l-loadMore {
  margin: 120px 0 0;
  text-align: center; }
  @media screen and (max-width: 767px) {
    .l-loadMore {
      margin: 60px 0 0; } }

/* ==========================================================================
    Index
 ========================================================================== */
.l-rwdVideo {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }
  .l-rwdVideo iframe,
  .l-rwdVideo object,
  .l-rwdVideo embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.l-aboutIntro {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -webkit-align-items: center;
          align-items: center; }
  .l-aboutIntro__img {
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
    max-width: 50%;
    width: 420px; }
  .l-aboutIntro__content {
    -webkit-flex-grow: 1;
            flex-grow: 1;
    padding: 30px 30px 105px;
    text-align: center;
    box-sizing: border-box; }
  @media screen and (max-width: 767px) {
    .l-aboutIntro {
      display: block; }
      .l-aboutIntro__img {
        max-width: 100%;
        width: 100%; }
      .l-aboutIntro__content {
        width: 100%;
        padding: 15px 0px 60px; } }

.l-quote {
  padding: 30px 0;
  text-transform: uppercase;
  font-size: 18px;
  color: #b1a3ba;
  text-align: center;
  font-family: "Cantata One", serif; }

/* ==========================================================================
    Reviews
 ========================================================================== */
.l-reviewBlock--staggered:nth-child(odd) .l-reviewBlock__thumb, .l-reviewBlock--staggered:nth-child(odd) .l-reviewBlock__desc {
  float: right; }

.l-reviewBlock--staggered:nth-child(odd) .l-reviewBlock__desc {
  text-align: right; }

.l-reviewBlock--center .l-reviewBlock__desc {
  text-align: center !important; }

.l-reviewBlock + .l-reviewBlock {
  margin-top: 60px; }

@media screen and (max-width: 767px) {
  .l-reviewBlock__thumb, .l-reviewBlock__desc {
    float: none; }
  .l-reviewBlock--staggered:nth-child(odd) .l-reviewBlock__desc {
    text-align: left; }
  .l-reviewBlock + .l-reviewBlock {
    margin-top: 15px; } }

.l-reviewDesc {
  padding: 30px 0;
  box-sizing: border-box; }
  .l-reviewDesc__date {
    margin-bottom: 20px;
    font-size: 20px;
    color: #5b5b5b;
    height: 1.5em;
    overflow: hidden;
    font-family: "Cantata One", serif; }
  .l-reviewDesc__couple {
    margin-bottom: 30px;
    font-size: 24px;
    color: #222;
    height: 1.5em;
    overflow: hidden;
    font-family: "Cantata One", serif; }
  .l-reviewDesc__more {
    margin-top: 30px; }
  @media screen and (max-width: 767px) {
    .l-reviewDesc {
      padding: 15px 0; }
      .l-reviewDesc__date {
        margin-bottom: 5px; }
      .l-reviewDesc__couple {
        margin-bottom: 10px; }
      .l-reviewDesc__more {
        margin-top: 20px; } }

/* ==========================================================================
    Photo
 ========================================================================== */
.l-photo {
  margin-bottom: 30px; }
  @media screen and (max-width: 767px) {
    .l-photo {
      margin-bottom: 15px; } }

.l-photoDesc {
  padding: 30px 15px;
  box-sizing: border-box;
  text-align: center; }
  .l-photoDesc__place {
    margin-bottom: 10px;
    font-size: 24px;
    color: #222;
    height: 1.5em;
    overflow: hidden;
    font-family: "Cantata One", serif; }
  .l-photoDesc__client {
    margin-bottom: 20px;
    font-size: 20px;
    color: #5b5b5b;
    height: 1.5em;
    overflow: hidden;
    font-family: "Cantata One", serif; }
  @media screen and (max-width: 767px) {
    .l-photoDesc {
      padding: 15px 0; } }

/* ==========================================================================
    Video
 ========================================================================== */
.l-videoGuideline {
  padding: 0 -7px; }
  .l-videoGuideline [class^="l-cols__"] {
    padding: 0 7px; }
  @media screen and (max-width: 767px) {
    .l-videoGuideline {
      padding: 0 -15px; }
      .l-videoGuideline [class^="l-cols__"] {
        padding: 0 15px; } }

.l-video {
  margin-bottom: 15px; }
  @media screen and (max-width: 767px) {
    .l-video {
      margin-bottom: 15px; } }

.l-information {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .l-information li {
    display: -webkit-flex;
    display: flex; }
    .l-information li + li {
      margin-top: 15px; }
  .l-information__title {
    margin-right: 10px;
    font-weight: bold;
    color: #222; }
  @media screen and (max-width: 767px) {
    .l-information li + li {
      margin-top: 10px; }
    .l-information__title {
      width: auto;
      text-align: left; } }

.l-article {
  padding: 60px; }
  @media screen and (max-width: 767px) {
    .l-article {
      padding: 0 0 60px; } }

/*------------------------     form     ------------------------*/
/*------------------------     gaps     ------------------------*/
.u-gapH {
  margin: 0 15px; }
  .u-gapH--min {
    margin: 0 5px; }
  .u-gapH--sm {
    margin: 0 10px; }
  .u-gapH--md {
    margin: 0 20px; }
  .u-gapH--lg {
    margin: 0 30px; }
  .u-gapH--max {
    margin: 0 60px; }

.u-gapV {
  margin: 15px 0; }
  .u-gapV--min {
    margin: 5px 0; }
  .u-gapV--sm {
    margin: 10px 0; }
  .u-gapV--md {
    margin: 20px 0; }
  .u-gapV--lg {
    margin: 30px 0; }
  .u-gapV--max {
    margin: 60px 0; }

.u-gapNextV + .u-gapNextV {
  margin-top: 15px; }

.u-gapNextV--min + .u-gapNextV--min {
  margin-top: 5px; }

.u-gapNextV--sm + .u-gapNextV--sm {
  margin-top: 10px; }

.u-gapNextV--md + .u-gapNextV--md {
  margin-top: 20px; }

.u-gapNextV--lg + .u-gapNextV--lg {
  margin-top: 30px; }

.u-gapNextV--max + .u-gapNextV--max {
  margin-top: 60px; }

.u-gapNextH + .u-gapNextH {
  margin-left: 15px; }

.u-gapNextH--min + .u-gapNextH--min {
  margin-left: 5px; }

.u-gapNextH--sm + .u-gapNextH--sm {
  margin-left: 10px; }

.u-gapNextH--md + .u-gapNextH--md {
  margin-left: 20px; }

.u-gapNextH--lg + .u-gapNextH--lg {
  margin-left: 30px; }

.u-gapNextH--max + .u-gapNextH--max {
  margin-left: 60px; }

.u-gapTop {
  margin-top: 15px; }
  .u-gapTop--min {
    margin-top: 5px; }
  .u-gapTop--sm {
    margin-top: 10px; }
  .u-gapTop--md {
    margin-top: 20px; }
  .u-gapTop--lg {
    margin-top: 30px; }
  .u-gapTop--max {
    margin-top: 60px; }

.u-gapBottom {
  margin-bottom: 15px; }
  .u-gapBottom--min {
    margin-bottom: 5px; }
  .u-gapBottom--sm {
    margin-bottom: 10px; }
  .u-gapBottom--md {
    margin-bottom: 20px; }
  .u-gapBottom--lg {
    margin-bottom: 30px; }
  .u-gapBottom--max {
    margin-bottom: 60px; }

.u-gapLeft {
  margin-left: 15px; }
  .u-gapLeft--min {
    margin-left: 5px; }
  .u-gapLeft--sm {
    margin-left: 10px; }
  .u-gapLeft--md {
    margin-left: 20px; }
  .u-gapLeft--lg {
    margin-left: 30px; }
  .u-gapLeft--max {
    margin-left: 60px; }

.u-gapRight {
  margin-right: 15px; }
  .u-gapRight--min {
    margin-right: 5px; }
  .u-gapRight--sm {
    margin-right: 10px; }
  .u-gapRight--md {
    margin-right: 20px; }
  .u-gapRight--lg {
    margin-right: 30px; }
  .u-gapRight--max {
    margin-right: 60px; }

/*------------------------     gird     ------------------------*/
[class^="l-cols__"] {
  float: left;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px; }

.l-cols {
  margin-left: -15px;
  margin-right: -15px; }
  .l-cols:before, .l-cols:after {
    content: " ";
    display: table; }
  .l-cols:after {
    clear: both; }
  .l-cols__1 {
    width: 8.33333%; }
  .l-cols__2 {
    width: 16.66667%; }
  .l-cols__3 {
    width: 25%; }
  .l-cols__4 {
    width: 33.33333%; }
  .l-cols__5 {
    width: 41.66667%; }
  .l-cols__6 {
    width: 50%; }
  .l-cols__7 {
    width: 58.33333%; }
  .l-cols__8 {
    width: 66.66667%; }
  .l-cols__9 {
    width: 75%; }
  .l-cols__10 {
    width: 83.33333%; }
  .l-cols__11 {
    width: 91.66667%; }
  .l-cols__12 {
    width: 100%; }
  @media only screen and (max-width: 767px) {
    .l-cols__1\@m {
      width: 8.33333%; }
    .l-cols__2\@m {
      width: 16.66667%; }
    .l-cols__3\@m {
      width: 25%; }
    .l-cols__4\@m {
      width: 33.33333%; }
    .l-cols__5\@m {
      width: 41.66667%; }
    .l-cols__6\@m {
      width: 50%; }
    .l-cols__7\@m {
      width: 58.33333%; }
    .l-cols__8\@m {
      width: 66.66667%; }
    .l-cols__9\@m {
      width: 75%; }
    .l-cols__10\@m {
      width: 83.33333%; }
    .l-cols__11\@m {
      width: 91.66667%; }
    .l-cols__12\@m {
      width: 100%; } }

/*------------------------     header     ------------------------*/
.t1,
.t2,
.t3,
.t4,
.t5,
.t6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  line-height: 1.5;
  color: inherit;
  text-align: inherit; }
  .t1--normal,
  .t2--normal,
  .t3--normal,
  .t4--normal,
  .t5--normal,
  .t6--normal {
    font-weight: normal; }

.t1 {
  font-size: 30px; }

.t2 {
  font-size: 24px; }

.t3 {
  font-size: 20px; }

.t4 {
  font-size: 18px; }

.t5 {
  font-size: 16px; }

.t6 {
  font-size: 14px; }

/*------------------------     helpers     ------------------------*/
/*---------------------- text align ----------------------*/
.u-tal {
  text-align: left; }

.u-tar {
  text-align: right; }

.u-tac {
  text-align: center; }

.u-vam {
  vertical-align: middle; }

.u-vat {
  vertical-align: top; }

.u-overflow {
  position: relative; }
  .u-overflow:after {
    content: '';
    display: block;
    height: 55px;
    position: absolute;
    bottom: 0;
    left: 1px;
    right: 1px;
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.u-hidden {
  display: none !important; }

.u-visibilityHidden {
  visibility: hidden; }

.u-ellipsis {
  display: block;
  display: -webkit-box;
  max-height: 1.5em;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all; }
  .u-ellipsis--two {
    display: block;
    display: -webkit-box;
    max-height: 1.5em;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    max-height: 3em;
    -webkit-line-clamp: 2; }

/*------------------------     icon     ------------------------*/
.c-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 0; }
  .c-icon:before, .c-icon:after {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 20px;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat; }
  .c-icon:before {
    content: ""; }
  .c-icon > span {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    font-size: 1rem; }
  .c-icon--hover {
    opacity: 1;
    transition: .3s ease; }
    .c-icon--hover:hover {
      opacity: 0.8; }
  .c-icon--arrowL:before, .c-icon--arrowL:after, .c-icon--arrowR:before, .c-icon--arrowR:after, .c-icon--arrowD:before, .c-icon--arrowD:after {
    display: block;
    width: 45px;
    height: 45px;
    background-size: 45px; }
  .c-icon--arrowL:before, .c-icon--arrowL:after {
    background-image: url(../images/icons/arrow-left.png); }
  .c-icon--arrowR:before, .c-icon--arrowR:after {
    background-image: url(../images/icons/arrow-right.png); }
  .c-icon--arrowD:before, .c-icon--arrowD:after {
    background-image: url(../images/icons/arrow-down.png); }

/*------------------------     link     ------------------------*/
a {
  color: #878385;
  text-decoration: none;
  outline: 0; }
  a:hover {
    text-decoration: none; }

.c-link span {
  position: relative;
  display: block; }
  .c-link span:before {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 0;
    height: 1px;
    background-color: #878385;
    transition: width .3s; }

.c-link:hover span:before {
  width: 100%; }

.c-link--purple {
  color: #b1a3ba; }
  .c-link--purple:before {
    background-color: #b1a3ba; }

/*------------------------     plugin     ------------------------*/
/*------------------------     sliders     ------------------------*/
.l-aboutSlider {
  position: relative; }
  .l-aboutSlider__arrow {
    position: absolute;
    right: 25%;
    bottom: 30px;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); }
  @media screen and (max-width: 767px) {
    .l-aboutSlider__arrow {
      left: 50%;
      right: auto;
      bottom: 0;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); } }

.l-arrowGroup {
  display: -webkit-flex;
  display: flex; }
  .l-arrowGroup__item + .l-arrowGroup__item {
    margin-left: 60px; }

/* ==========================================================================
   Page classes
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */ }

/*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto; }

/*
  * Hide visually and from screen readers, but maintain layout
  */
.invisible {
  visibility: hidden; }

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
